a{
    text-decoration: none;
}
a :hover{
    text-decoration: none;
}
@media all and (max-width:480px) {
    .button-custom { display:inline-block; }
}
label {
    display: block;
    margin-top: 10px;
  }

  .card-container.card {
    max-width: 350px !important;
    padding: 40px 40px;
  }


  .profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }